header {
    background-color: dimgrey;
    color: white;
    font-weight: bold;
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0px;
    
    
}
header h2{
    color:deepskyblue;
    margin-left: 20px;
}

main {
    background-color: whitesmoke;
    color: black;
    padding: 10px;
  
}

footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: crimson;
    text-align: right; 
    color:white;
    
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 7px;
}


body {
    margin-left: 0px;
    margin-right: 0px;
    display: grid;
    grid-template-columns: auto;
   
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: dimgray;


}
li{
    
    list-style: none;
     margin-top: 10px;
    text-align: center;
}
h2{
  float: left;
}
a{
    color: white;
    text-decoration: none;
    height: 40px;
    width: 100px;
}
a:hover{
    color:deepskyblue ;
    height: 40px;
    width: 100px;
    background-color: black;
    
    
}