footer{
    position: sticky;
    top: 100%;
    
    height: 50px;
    width: 100%;
    background-color: crimson;
    text-align: right; 
    color:white;
}
main{
    position: relative;
}
a{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}